<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="full" (click)="signin(loginForm)">Signin</ion-button>
    <ion-button shape="round" expand="full" (click)="signup(loginForm)">Signup</ion-button>
  </form>
</ion-content>
