<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let prod of p">
    <div *ngIf="prod.quantity==0;else show"></div>
    <ng-template #show>
    <ion-item>
      <ion-avatar><img src="{{prod.image}}"></ion-avatar>
      <ion-label>
        <ion-row class="pad">
          <ion-col>
              <b>{{prod.name}}</b>
          </ion-col>
          <ion-col>
              <b>${{prod.price}}</b>
          </ion-col>
        </ion-row>
        
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="medium" (click)="subtract(prod.id)">-</ion-button>
              </ion-col>
              <ion-col align-center>
                <ion-button expand="block" color="light" disabled>{{prod.quantity}}</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="medium" (click)="add(prod.id)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
        <h1>${{prod.quantity*prod.price}}</h1>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-row>
    <ion-col>
      <h1>Total:</h1>
    </ion-col>
    <ion-col>
      <h1>${{total}}</h1>
    </ion-col>
  </ion-row>
</ion-content>
